body {
  background: black;
  position: relative;
}

.clock {
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 60px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text1 {
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
}

.text2 {
  position: relative;
  text-align: center;
  color: #e98208;
  font-size: 40px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 7px;
  margin-right: 100px;
  margin-left: 100px;
}

 img {
     margin-top: 120px;
     width: 17%;
}
.ust-serit {
  background-color: #291b0a;
  padding-bottom: 20px;
}

height: 1000px;
  position: absolute ;
  z-index: 200;
  background-color: red;
  color: white;
  font-size: 40px;
